services:
  api:
    image: mrdevx/nn-backend-api:latest
    environment:
      - NODE_ENV=production
      - HOST=0.0.0.0
      - PORT=3000
      - BIND_ADDRESS=0.0.0.0
      - APP_NAME=Notable Nomads Backend API
      - APP_DESCRIPTION=Notable Nomads Backend API
      - APP_VERSION=v0.0.30
      - API_PREFIX=v1
      - CORS_ENABLED_DOMAINS=*.notablenomads.com,notablenomads.com
      - CORS_RESTRICT=false
    ports:
      - '0.0.0.0:3000:3000' # Expose to all interfaces
    env_file:
      - .env
    networks:
      - app-network
    restart: always
    logging:
      driver: 'json-file'
      options:
        max-size: '10m'
        max-file: '3'

  nginx:
    image: nginx:stable-alpine
    ports:
      - '80:80'
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - nginx_temp:/var/cache/nginx
      - nginx_run:/var/run
    depends_on:
      - api
    networks:
      - app-network
    restart: always
    logging:
      driver: 'json-file'
      options:
        max-size: '10m'
        max-file: '3'

networks:
  app-network:
    driver: bridge

volumes:
  nginx_temp:
  nginx_run:
