services:
  api:
    image: mrdevx/nn-backend-api:latest
    restart: always
    networks:
      - app-network
    env_file:
      - /root/secrets/.env
    volumes:
      - /root/secrets:/run/secrets:ro
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:3000/v1/health']
      interval: 30s
      timeout: 10s
      retries: 3
    logging:
      driver: 'json-file'
      options:
        max-size: '10m'
        max-file: '3'

  nginx:
    image: nginx:stable-alpine
    restart: always
    ports:
      - '80:80'
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - app-network
    depends_on:
      - api

networks:
  app-network:
    driver: bridge
